<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Acceso a Internet para la API -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
        Semana 9:
        Android 13+ requiere este permiso para mostrar notificaciones.
        Se solicitará en tiempo de ejecución únicamente cuando
        la persona active los recordatorios.
    -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application


        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiFormacionCTMA">

        <!--
            FileProvider para compartir de forma segura
            las fotografías creadas por la aplicación.
            Utiliza content:// y no file://
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MiFormacionCTMA"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

    </application>

</manifest>